#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.992);
    color: #d82020;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgb(14, 46, 225);
    color: rgb(18, 222, 237);
    cursor: pointer;
}

#myBtn:hover {
    background: rgb(13, 228, 236);
    color: rgb(81, 63, 243);
}